.content{
    padding: 15px;
}

.content-table{
    padding: 25px 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    box-shadow: 0 2px 15px 0 #2222;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.table-notas{
    font-size: 1.2rem;
    width: 97%;
    background-color: #fff;
    padding: 25px;
    margin: 0 auto;

    box-sizing: border-box;
    border-collapse: collapse;
}
.table-notas th, .table-notas td {
    text-align: center;
}

.table-notas th:first-child, .table-notas td:first-child {
    text-align: left;
}
.table-head th{
    font-size: 1.3rem;
    padding: 5px;
    background-color: #4774a8;
    color: #f8f8f8; 
}
.table-row td{
    text-align: center;
    border: 1px solid #2222;
    padding: 5px;
}
.table-notas tr{
    transition: 0.1s;
}
.content-button{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 20%;
}
.button-con{
    background-color: #fff;
    padding: 7px 25px;
    width: 8vw; 
    border: 1px solid #2224;
    border-radius: 3px;
    transition: 0.2s;
    font-size: 1.05rem;
}
.button-con:hover{
    border: 1px solid #2a2;
}

.content{
    height: 99%;
}