body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 25vw;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 0 25px #0008;
    margin: 0 auto;
}
.container h1{
    margin: 10px 0px 0px 0px;
}
.container-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}

.buttons {
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    background-color: #000000;
    border: none;
    border-radius: 5px;
  }

  .container-inputs{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
  }

  .inputs-data {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.inputs-data input{
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}