.right-section{
    box-sizing: border-box;
    width: 100vw;
}

.content-section{
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    width: 95%;
    background-color: #f0f0f0;
    height: 85vh;
    box-shadow: 0 10px 25px 0 #0003;
    border-radius: 5px;
}